# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Pipenv

# pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage
.coverage
htmlcov/

# dotenv
.env

